body{
  background-color: aquamarine;
}
.sweety{
  color: black;
  background-color: rgb(245, 238, 229);
  border: 10px dotted yellow;
  margin: 20px 5px 30px 30px;
  padding: 25px;
  text-align: justify;
  font-family: 'Oswald', sans-serif,'Roboto Mono', monospace;
}
h2{
  font-size: 48px;

}
#first_journey{
  color: brown;
  font-weight: 400;

}
#second_journey{
  color:blueviolet;
  font-family:'Roboto Mono', monospace ;
  font-weight: 400;
}
#third_journey{
  color: rgb(123, 15, 119);
}
h2{
  text-align: center;
  font-weight: 700;
  text-transform: capitalize;
}